h1, h2, button, label {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
}

button, .form__submit {
  color: red;
}

.story-display {
  width: 80%;
  position: relative;
  left: 10%;
  padding-bottom: 10vh;

  &--grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}